* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #111;
  color: white;
  font-family: sans-serif;
}

.header {
  text-align: center;
  padding: 1.5rem 0;
  background: rgba(152, 0, 223, 0.527);
}

.header p {
  margin-top: 0.5rem;
}

ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

form {
  margin: 3rem;
  padding: 1rem;
  background: rgba(174, 0, 255, 0.527);
}

.form-group {
  padding: 0.5rem 0;
}

.form-group label {
  display: block;
}

.form-group input {
  width: 100%;
  padding: 0.3rem;
  margin: 0.5rem 0;
}

.btn {
  display: block;
  padding: 0.5rem;
  margin: 1rem 0;
  background: rgba(57, 2, 83, 0.527);
  color: white;
  border: none;
  width: 100%;
  cursor: pointer;
}

.alert {
  display: block;
  padding: 0.5rem;
  background: rgba(184, 30, 255, 0.527);
  color: white;
  border: none;
  width: 100%;
  text-align: center;
}

.container {
  margin: 3rem;
  padding: 1rem;
  background: rgba(174, 0, 255, 0.527);
}

#subheader {
  padding-bottom: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #222;
}

th,
td {
  padding: 0.75rem;
  border: 1px solid #555;
  text-align: left;
}

th {
  background: rgba(57, 2, 83, 0.527);
}

.error {
  color: #ffd1ff;
}
